{% if collection.description.size > 0 %}
  {% if collection.title == "Consultations" %}
    <h2 class="gold_text">1 Hour Consultations</h2>
  {% else %}
    <h2 class="gold_text">{{ collection.title }}</h2>
  {% endif %}
  {% if collection.all_products_count != 0 %}
    {% if collection.title == "Consultations" %}
      <div>{{ collection.description }}</div>
    {% else %}
      <h3 class="single">{{ collection.description }}</h3>
    {% endif %}
  {% else %}
    <h3>{{ collection.description }}</h3>
  {% endif %}
{% else %}
  <h2 class="single gold_text">{{ collection.title }}</h2>
{% endif %}
{% if collection.title == "The Glamour Look" %}
  <h4>Step 2: Pick your dress rental</h4>
{% elsif collection.title == "The Fresh Face Look" %}
  <h4>Step 2: Pick your dress rental</h4>
{% elsif collection.title == "The Complete Look" %}
  <h4>Step 2: Pick your dress rental</h4>
{%elsif collection.title == "Consultations" %}
{% else %}
  {% include 'booking-availability-search' %}
{% endif %}
{% if collection.all_products_count == 0 %}
  <p>There are no products in this collection.</p>
{% else %}
	{% comment %} filtertags not needed
  {% include 'filtertags' %}
  {% endcomment %}
{% endif %}
