{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}


<div class="homepage_slideshow">
  <div class="flexslider triangle grid-item remove_padding">
    <ul class="slides text-center grid-item remove_padding">
      <li class="grid-item remove_padding">
        {{ '1.jpg' | asset_url | img_tag }}
      </li>
      <li class="grid-item remove_padding">
        {{ '2.jpg' | asset_url | img_tag }}
      </li>
      <li class="grid-item remove_padding">
        {{ '3.jpg' | asset_url | img_tag }}
      </li>
    </ul>
  </div>

</div>
<div class="grid-item remove_padding container">

  <div class="text-center carousel_container">
    
    <h2 class="large--one-half push--large--one-quarter medium--one-half push--medium--one-quarter"><a href="/collections/all" class="rent_next_look"><span>RENT</span> AN AMAZING DRESS</a></h2>
    
    <div class="grid-item remove_padding grid-item large--three-quarters push--large--one-eighth medium--one-whole">

      <div id="carousel">
        <a href="/products/jovani">
          <img src="{{ 'IMG_2123.png' | asset_url }}" id="item-1" />
        </a>
        <a href="/products/all-feminine-cobalt-blue-lace">
          <img src="{{ 'IMG_2137.png' | asset_url }}" id="item-2" />
        </a>
        <a href="/products/red-dress">
          <img src="{{ 'IMG_2160.png' | asset_url }}" id="item-3" />
        </a>
        <a href="products/white-dress">
          <img src="{{ 'IMG_2185.png' | asset_url }}" id="item-4" />
        </a>
        <a href="/products/9twenty-victoria-lace">
          <img src="{{ 'IMG_2208.png' | asset_url }}" id="item-5" />
        </a>
        <a href="/products/all-feminine-two-piece-skirt-and-top">
          <img src="{{ 'IMG_2213.png' | asset_url }}" id="item-6" />
        </a>
      </div>
      {% comment %} Prev & Next buttons for carousel
      <a href="#" id="prev">Prev</a> | <a href="#" id="next">Next</a>
      {% endcomment %}
      
      {% comment %}
      <div class="grid-item remove_padding text-center">
        
        <a href="/collections/all" class="index_browse_dresses">Browse Dresses</a>

        {% comment %} {{ 'closet_choose_dress.jpg' | asset_url | img_tag }} {% endcomment %}
      </div>
      {% endcomment %}
    </div>
  </div>
</div>

<div class="grid-item remove_padding text-center rent_in_3_steps">
  <h2 class="large--one-third push--large--one-third medium--one-half push--medium--one-quarter text-center">RENT IN JUST <span>3</span> STEPS</h2>
  
  <div class="grid-item remove_padding text-center large--three-fifths push--large--one-fifth medium--four-fifths push--medium--one-tenth how_it_works_diagram">
    <a href="/pages/how-it-works">
      {{ 'how_it_works2.png' | asset_url | img_tag }}
      <p>Think of us as your Best Friend. Rent from us anytime.</p>
    </a>
    <a href="/pages/how-it-works" class="index_browse_dresses">Get Started</a>
  </div>

</div>

<div class="grid-item remove_padding large--three-quarters push--large--one-eighth medium--three-quarters push--medium--one-eighth the_closet_blog">
  <h2 class="large--one-third push--large--one-third medium--one-half push--medium--one-quarter text-center">The Closet <span>Girl</span></h2>

  {% comment %}
    Loop through three recent blog articles with the following code.

    Since we're not on the blog template, we need to define the blog
    handle we want to focus on. For this example we'll use the default 'news',
    but you can create a blog page-specific content if you want.
  {% endcomment %}

  {% for article in blogs['news'].articles limit:3 %}

    <div class="grid-item blog_post large--one-third medium--one-third">
      {% comment %} Publish date not needed
      <h6>
        <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
          {{ article.published_at | date: '%b %d, %Y' }}
        </time>
      </h6>
      {% endcomment %}
      <h6><a href="{{ article.url }}">{{ article.title }}</a></h6>
      

      {% comment %}
        Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
        Since this is just a listing page, you can either use the excerpt or truncate the full article.
      {% endcomment %}
      <div class="rte">
        {% if article.excerpt.size > 0 %}
          <a href="{{ article.url }}">{{ article.excerpt }}</a>
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
        {% endif %}
      </div>

      {% comment %}
        Show off meta information like number of comments and tags.
      {% endcomment %}
      <ul>

        {% comment %}
          Don't be fooled, the ? in comments_enabled? is part of the liquid tag.
        {% endcomment %}
        {% if blog.comments_enabled? %}
        <li>
          <a href="{{ article.url }}#comments">
            {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}
          </a>
        </li>
        {% endif %}

        {% comment %} tags not needed
          {% include 'tags-article' %}
        {% endcomment %}
      </ul>

      <p><a class="blog-read-more" href="{{ article.url }}">Read more</a></p>

    </div>

  {% endfor %}

</div>


{% if shop.customer_accounts_enabled %}
  {% if customer %}
    
  {% else %}
    
  <div class="content_for_popin grid-item">
  {% layout settings.customer_layout %}


    <div class="grid">

      <div class="grid-item">
        <h2 class="avgrund_modal_title">THE CLOSET SERVICE</h2>
        <h4 style="text-align:center">REGISTER NOW FOR 15% OFF YOUR FIRST RENTAL</h4>


        {% comment %}
          This form must use 'create_customer'
        {% endcomment %}
        {% form 'create_customer' %}

          {% include 'form-errors-custom' %}

          <div id="first_name" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="first_name">First Name</label>
            <input type="text" value="" name="customer[first_name]" id="first_name" {% if form.errors contains "first_name" %} class="error"{% endif %}>
          </div>

          <div id="last_name" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="last_name">Last Name</label>
            <input type="text" value="" name="customer[last_name]" id="last_name" {% if form.errors contains "last_name" %} class="error"{% endif %}>
          </div>

          <div id="email" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="email">Email Address</label>
            <input type="email" value="" name="customer[email]" id="email" placeholder="your-email@shopify.com" {% if form.errors contains "email" %} class="error"{% endif %}>
          </div>

          <div id="create_password" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="password">Password</label>
            <input type="password" value="" name="customer[password]" id="create_password" {% if form.errors contains "password" %} class="error"{% endif %}>
          </div>

          <div id="birthday" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="birthday">Birthday</label>
            <input type="text" value="" name="customer[note][Birthday]" id="birthday" placeholder="mm/dd/yyyy" {% if form.errors contains "birthday" %} class="error"{% endif %}>
          </div>

          <div id="zip_code" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="zip_code">Zip Code</label>
            <input type="text" value="" name="customer[note][Zip Code]" id="zip_code" {% if form.errors contains "zip_code" %} class="error"{% endif %}>
          </div>

          <div class="text-center">
            <p>
              <input type="submit" value="Create" class="btn customer_btn">
            </p>
            or {{ 'Log in' | customer_login_link }}
          </div>

        {% endform %}

      </div>

    </div>
  </div>
  <script>
    $(function() {
      $('.main-content').avgrund({
        width: 410, // max is 640px
        height: 490, // max is 350px
        showClose: true, // switch to 'true' for enabling close button
        showCloseText: 'Close', // type your text for close button
        closeByEscape: true, // enables closing popup by 'Esc'..
        closeByDocument: true, // ..and by clicking document itself
        holderClass: 'holder', //lets you name custom class for popin holder
        enableStackAnimation: false, // another animation type
        onBlurContainer: 'body', // enaables blur filter for specified block
        openOnEvent: false, // set to 'false' to init on load
        template: $('.content_for_popin'), // or function (elem) { }, or $('.content')
      });
    });
  </script>

  
  {% endif %}
{% endif %}
  


  <script type="text/javascript">
    $(document).ready(function () {
      var carousel = $("#carousel").waterwheelCarousel({
        flankingItems: 2,
        movingToCenter: function ($item) {
          $('#callback-output').prepend('movingToCenter: ' + $item.attr('id') + '<br/>');
        },
        movedToCenter: function ($item) {
          $('#callback-output').prepend('movedToCenter: ' + $item.attr('id') + '<br/>');
        },
        movingFromCenter: function ($item) {
          $('#callback-output').prepend('movingFromCenter: ' + $item.attr('id') + '<br/>');
        },
        movedFromCenter: function ($item) {
          $('#callback-output').prepend('movedFromCenter: ' + $item.attr('id') + '<br/>');
        },
        clickedCenter: function ($item) {
          $('#callback-output').prepend('clickedCenter: ' + $item.attr('id') + '<br/>');
        }
      });

      $('#prev').bind('click', function () {
        carousel.prev();
        return false
      });

      $('#next').bind('click', function () {
        carousel.next();
        return false;
      });

      $('#reload').bind('click', function () {
        newOptions = eval("(" + $('#newoptions').val() + ")");
        carousel.reload(newOptions);
        return false;
      });

    });
  </script>

  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
