{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
<div class="container">

<div class="grid-item">
  <div class="grid-item large--three-quarters push--large--one-eighth remove_padding dress_code">
    
    <a href="/collections/all">
      <div class="cycle-slideshow">
      
        {{ 'dress1.jpg' | asset_url | img_tag }}
        {{ 'dress2.jpg' | asset_url | img_tag }}
        {{ 'dress3.jpg' | asset_url | img_tag }}
        {{ 'dress4.jpg' | asset_url | img_tag }}
        {{ 'dress5.jpg' | asset_url | img_tag }}
        {{ 'dress6.jpg' | asset_url | img_tag }}

      </div>
    </a>
  </div>

</div>


<div class="grid text-center">

  <div class="grid-item large--three-fifths"> <!-- column 1 -->
    <div class="grid-item rent_dress">
      <h3><a href="/pages/how-it-works">How It Works | <span class="pick_from_closet">Pick From Our Closet</span></a></h3>
      <div class="grid-item large--three-fifths rent_dress_col1">
        {{ 'rack.jpg' | asset_url | img_tag }}
      </div>
      <div class="grid-item large--two-fifths rent_dress_col2">
        {% include 'booking-availability-index' %}
      </div>
    </div>
    <div class="grid-item text-center box_pattern">
      {{ 'box_pattern.png' | asset_url | img_tag }}
    </div>
    <div class="grid-item we_are_woman">
      <a href="/pages/the-closet-story">
        <h3>"We Are Woman" | The Closet Service Story</h3>
        <div class="grid-item remove_padding ">
          {{ 'i_am_woman_the_closet_service.jpg' | asset_url | img_tag }}
        </div>
      </a>
    </div>
  </div>


  <div class="grid-item remove_padding large--two-fifths box_icon_1"> <!-- column 2 -->
    <h4 class="text-center"><a href="/blogs/news">The Closet Girl | Dresses n' Culture</a></h4>

    {% comment %}
      Loop through three recent blog articles with the following code.

      Since we're not on the blog template, we need to define the blog
      handle we want to focus on. For this example we'll use the default 'news',
      but you can create a blog page-specific content if you want.
    {% endcomment %}

    {% for article in blogs['news'].articles limit:2 %}

      <div class="grid-item remove_padding large--one-whole medium--one-half">
        {% comment %} Publish date not needed
        <h6>
          <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
            {{ article.published_at | date: '%b %d, %Y' }}
          </time>
        </h6>
        {% endcomment %}
        <h6><a href="{{ article.url }}">{{ article.title }}</a></h6>
        

        {% comment %}
          Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
          Since this is just a listing page, you can either use the excerpt or truncate the full article.
        {% endcomment %}
        <div class="rte">
          {% if article.excerpt.size > 0 %}
            <a href="{{ article.url }}">{{ article.excerpt }}</a>
          {% else %}
            <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
          {% endif %}
        </div>

        {% comment %}
          Show off meta information like number of comments and tags.
        {% endcomment %}
        <ul>

          {% comment %}
            Don't be fooled, the ? in comments_enabled? is part of the liquid tag.
          {% endcomment %}
          {% if blog.comments_enabled? %}
          <li>
            <a href="{{ article.url }}#comments">
              {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}
            </a>
          </li>
          {% endif %}

          {% comment %} tags not needed
            {% include 'tags-article' %}
          {% endcomment %}
        </ul>

        <p><a class="blog-read-more" href="{{ article.url }}">Read more</a></p>

      </div>

    {% endfor %}
  </div>
</div>


{% comment %}
  <h2 class="text-center">Featured Dresses</h2>

  {% comment %}
    Use class grid-uniform to have evenly sized columns clear
    each other properly at each breakpoint.
  {% endcomment %}
  <div class="grid-uniform large--four-fifths push--large--one-tenth">

    {% comment %}
      Loop through products in your featured collection.
      This collection is created by default, but you must add products to it.
    {% endcomment %}
    {% for product in collections.featured.products limit:6 %}

      {% include 'product-grid-item' %}

    {% else %}

      <h4>We currently do not have any dresses in our Featured collection. Head over to our catalog for other dresses"</h4>
    {% endfor %}

  </div>
{% endcomment %}

</div> <!-- .container -->

<div class="content_for_popin grid-item">
  {% layout settings.customer_layout %}

    <div class="grid">

      <div class="grid-item">
        <h2 class="avgrund_modal_title">THE CLOSET SERVICE</h2>
        <h4 style="text-align:center">REGISTER NOW FOR 15% OFF YOUR FIRST RENTAL</h4>


        {% comment %}
          This form must use 'create_customer'
        {% endcomment %}
        {% form 'create_customer' %}

          {% include 'form-errors-custom' %}

          <div id="first_name" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="first_name">First Name</label>
            <input type="text" value="" name="customer[first_name]" id="first_name" {% if form.errors contains "first_name" %} class="error"{% endif %}>
          </div>

          <div id="last_name" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="last_name">Last Name</label>
            <input type="text" value="" name="customer[last_name]" id="last_name" {% if form.errors contains "last_name" %} class="error"{% endif %}>
          </div>

          <div id="email" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="email">Email Address</label>
            <input type="email" value="" name="customer[email]" id="email" placeholder="your-email@shopify.com" {% if form.errors contains "email" %} class="error"{% endif %}>
          </div>

          <div id="create_password" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="password">Password</label>
            <input type="password" value="" name="customer[password]" id="create_password" {% if form.errors contains "password" %} class="error"{% endif %}>
          </div>

          <div id="birthday" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="birthday">Birthday</label>
            <input type="text" value="" name="customer[note][Birthday]" id="birthday" placeholder="mm/dd/yyyy" {% if form.errors contains "birthday" %} class="error"{% endif %}>
          </div>

          <div id="zip_code" class="grid-item large--one-half medium--one-half small--one-half pop_in_form">
            <label for="zip_code">Zip Code</label>
            <input type="text" value="" name="customer[note][Zip Code]" id="zip_code" {% if form.errors contains "zip_code" %} class="error"{% endif %}>
          </div>

          <div class="text-center">
            <p>
              <input type="submit" value="Create" class="btn customer_btn">
            </p>
            or {{ 'Log in' | customer_login_link }}
          </div>

        {% endform %}

      </div>

    </div>
</div>


{% if shop.customer_accounts_enabled %}
  {% if customer %}
    

  {% else %}

  <script>
  $(function() {
    $('.container').avgrund({
      width: 410, // max is 640px
      height: 490, // max is 350px
      showClose: true, // switch to 'true' for enabling close button
      showCloseText: 'Close', // type your text for close button
      closeByEscape: true, // enables closing popup by 'Esc'..
      closeByDocument: true, // ..and by clicking document itself
      holderClass: 'holder', //lets you name custom class for popin holder
      enableStackAnimation: false, // another animation type
      onBlurContainer: 'body', // enaables blur filter for specified block
      openOnEvent: false, // set to 'false' to init on load
      template: $('.content_for_popin'), // or function (elem) { }, or $('.content')
    });
  });
</script>

{% endif %}
