<footer class="site-footer" role="contentinfo">

  <div class="wrapper">

    <div class="large--five-sixths push--large--one-twelfth medium--one-whole">

      <div class="grid-item large--one-sixth medium--one-sixth small--one-half push_footer_down">
        <ul>
          <li><p class="footer_titles">About Us</p></li>
          <li><a class="footer_links" href="/pages/the-closet-story">The Closet Service</a></li>
          <li><a class="footer_links" href="/pages/how-it-works-dress-rentals">How It Works</a></li>
          <li><a class="footer_links" href="/pages/wholesale-dress-rental">Wholesale</a></li>
        </ul>
      </div>

      <div class="grid-item large--one-sixth medium--one-sixth small--one-half push_footer_down">
        <ul>
          <li><p class="footer_titles">Customer Service</p></li>
          <li><a class="footer_links" href="/pages/faqs-dress-rental">FAQ</a></li>
          <li><a class="footer_links" href="/pages/size-chart">Size Chart</a></li>
          <li><a class="footer_links" href="/pages/rental-agreement-dress-rental">Rental Agreement</a></li>
        </ul>
      </div>

      <div class="footer_social_media text-center grid-item large--one-third medium--one-third">
        <p>Coming To A Garment Bag Near You</p>
        <!-- <ul class="inline-list social_media_links"> -->

          {% if settings.pinterest_link != blank %}<a class="social_media_icon" href="{{ settings.pinterest_link }}" title="{{ shop.name }}on Pinterest">{{ 'pinterest_icon_copy.png' | asset_url 'pico' | img_tag 'pinterest_icon_copy.png' }}</a>{% endif %}

          {% if settings.instagram_link != blank %}<a class="social_media_icon" href="{{ settings.instagram_link }}" title="{{ shop.name }}on Instagram">{{ 'instagram.png' | asset_url 'pico' | img_tag 'instagram.png' }}</a>{% endif %}

          {% comment %} youtube icon will not show up if non youtube link is in settings
          {% endcomment %}
          {% if settings.youtube_link != blank %}<a class="social_media_icon" href="{{ settings.youtube_link }}" title="{{ shop.name }}on Youtube">{{ 'youtube.png' | asset_url 'pico' | img_tag 'youtube.png' }}</a>{% endif %}

          {% if settings.twitter_link != blank %}<a class="social_media_icon" href="{{ settings.twitter_link }}" title="{{ shop.name }}on Twitter">{{ 'twitter.png' | asset_url 'pico' | img_tag 'twitter.png' }}</a>{% endif %}

          {% if settings.facebook_link != blank %}<a class="social_media_icon" href="{{ settings.facebook_link }}" title="{{ shop.name }}on Facebook">{{ 'facebook.png' | asset_url 'pico' | img_tag 'facebook.png' }}</a>{% endif %}

          {% if settings.tumblr_link != blank %}<a class="social_media_icon" href="{{ settings.tumblr_link }}" title="{{ shop.name }}32w on Tumblr">{{ 'tumblr.png' | asset_url 'pico' | img_tag 'tumblr.png' }}</a>{% endif %}

        <!-- </ul> -->
      </div>


      {% if settings.footer_display_newsletter %}
      <div class="grid-item large--one-third medium--one-third push_footer_down newsletter">
        <h6>{{ settings.footer_newsletter_title }}</h6>
        {% include 'newsletter-form' %}
      </div>
      {% endif %}

      <hr>

      {% comment %}
        Loop through available payment methods and show their icons.
      {% endcomment %}
      <ul class="inline-list payment-icons text-center">
        {% for type in shop.enabled_payment_types %}
        <li>
          <img src="{{ type | payment_type_img_url }}" />
        </li>
        {% endfor %}
      </ul>

      <p class="text-center">
        <a href="http://www.hindsitemetrics.com/"><small>Design by HindSite Metrics</small></a>
      </p>

    </div> {% comment %} end of footer grid {% endcomment %}
  </div> {% comment %} end of wrapper {% endcomment %}


    {% comment %}
      contact information not needed here
      {% if settings.footer_display_contact %}
        <div class="grid-item large--one-quarter">
          <h5>{{ settings.footer_contact_title }}</h5>
          <p>
            {% if settings.footer_contact_text != blank %}
              {{ settings.footer_contact_text }}
            {% else %}
              Add some text to show here in your <a href="admin/themes" title="Edit theme settings"> theme settings</a>.
            {% endif %}
          </p>
        </div>
      {% endif %}
    {% endcomment %}

    
</footer>