{% assign has_content_on_hp = false %}
<section class="gallery{% if settings.use_footer %} hasfooter{% endif %}">
  <div class="gallery__inner">
    {% if settings.sale_description != "" %}
    {% assign has_content_on_hp = true %}
    <div class="tile__sale">
      <h1>{{ settings.sale_description }}</h1>
    </div>
    {% endif %}
    {% if settings.use_imgbanner %}
    {% assign has_content_on_hp = true %}
    <div class="gallery__slide">
      <img src="{{ 'imgbanner.png' | asset_url }}" alt="{{ shop.name }}" class="slide__image" />
    </div>
    {% endif %}
    {% unless settings.hp_content == blank or pages[settings.hp_content].empty? or pages[settings.hp_content].content == blank %}
    {% assign has_content_on_hp = true %}
    <div class="gallery__slide slide__page">
      <div class="desk--table__contain">
        <div class="desk--table__inner align_top">
          <div class="collectioncover__text rte">
            <h1>{{ pages[settings.hp_content].title }}</h1>
            {{ pages[settings.hp_content].content }}
          </div>
        </div>
      </div>
    </div>
    {% endunless %}
    {% unless settings.fp_collection == blank or collections[settings.fp_collection].empty? %}
      {% if shop.products_count == 0 %}
      {% assign has_content_on_hp = true %}
      <div class="gallery__slide--lonelypanel">
        <div class="table__contain">
          <div class="table__inner">
            <div class="collectioncover__text">
              <h2 class="single">This store currently has no products</h2>
            </div>
          </div>
        </div>
      </div>
      {% elsif collections[settings.fp_collection].products_count == 0 %}
      {% assign has_content_on_hp = true %}
      <div class="gallery__slide--lonelypanel">
        <div class="desk--table__contain">
          <div class="desk--table__inner align_top">
            <div class="collectioncover__text">
              <h2 class="single">Please <a href="/admin/collections">add a product to your {{ collections[settings.fp_collection].title }} collection</a>.</h2>
            </div>
          </div>
        </div>
      </div>
      {% else %}
        {% assign collection = collections[settings.fp_collection] %}
        {% assign has_content_on_hp = true %}
        {% unless settings.rmv_covershp %}
          {% if collection.image %}
            <div class="gallery__slide{% if collection.all_products_count == 0 %}--lonely{% endif %} collection__cover--img">

              {% comment %} This is for the home page collection listing. Collection image not needed. Rent Now button under collection title needed and there will be 4 images on the right {% endcomment %}
              <img src="{{ collection.image.src | collection_img_url: 'master' }}" class="slide__image">
              <div class="desk--table__contain">
                <div class="desk--table__inner align_top align_right">
                  <div class="collectioncover__text remove_padding">

                    {% comment %} Name of Collection on home page {% endcomment %}

                    {% include 'collectioncoverlink' %}

                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="gallery__slide collection__cover">
              <div class="desk--table__contain">
                <div class="desk--table__inner">
                  <div class="collectioncover__text">
                    {% include 'collectioncoverlink' %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endunless %}
        {% for product in collection.products %}
        <div class="gallery__slide toggle__productinfo">
          <a href="{{ shop.url }}{{ product.url }}" class="product__link">
            <img src="{% if product.images.size > 0 %}{{ product.images.first | product_img_url: 'master' }}{% else %}{{ 'image__empty.png' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" class="slide__image">
          </a>
          <div class="product__info">
            <div class="productinfo__text">
              <h1><a href="{{ shop.url }}{{ product.url }}">{{ product.title }}</a></h1>
              <h2>
                {% if product.compare_at_price > product.price %}
                <span class="sale">{% if product.price_varies %}From {% endif %}{{ product.price | money }}</span>
                <strike>{{ product.compare_at_price | money }}</strike>
                {% else %}
                  {% if product.price_varies %}From {% endif %}{{ product.price | money }}
                {% endif %}
              </h2>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    {% endunless %}
    {% unless has_content_on_hp %}
      <div class="gallery__slide collection__cover--img">
        <div class="desk--table__contain pos_rel">
          <div class="desk--table__inner align_middle">
            <div class="collectioncover__text">
              <h2 class="single gold_text">New Arrivals</h2>
              <div class="black_btn_container">
                <a href ="/collections/new-arrivals" class="black_btn">Rent Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery__slide">
        {{ 'homepage_2465.jpg' | asset_url | img_tag: '', "slide__image" | link_to: 'https://www.shopify.com', '' }}
      </div>
      <div class="gallery__slide">
        {{ 'homepage_2521.jpg' | asset_url | img_tag: '', "slide__image" | link_to: 'https://www.shopify.com', '' }}
      </div>
      <div class="gallery__slide">
        {{ 'homepage_2602.jpg' | asset_url | img_tag: '', "slide__image" | link_to: 'https://www.shopify.com', '' }}
      </div>
      <div class="gallery__slide">
        {{ 'homepage_2553.jpg' | asset_url | img_tag: '', "slide__image" | link_to: 'https://www.shopify.com', '' }}
      </div>




    {% comment %}
    <div class="gallery__slide--lonelypanel">
      <div class="desk--table__contain">
        <div class="desk--table__inner">
          <div class="collectioncover__text">
            <div class="gallery__inner">

            <h2 class="single">To add content to your homepage, visit your <a href="/admin/themes/{{ theme.id }}/settings">theme settings page</a>.</h2>
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
    {% endunless %}
  </div>


  {% if shop.customer_accounts_enabled %}
    {% if customer %}

    {% else %}

    <div class="content_for_popin grid--full">
      {% layout settings.customer_layout %}
          <section class="page">
              <div class="page__inner">
                  <div class="page__text">

                    <h1>BECOME A <span class="gold_text">#CLOSETGIRL</span> AND RECEIVE 15% OFF YOUR FIRST RENTAL</h1>

                    {% form 'create_customer' %}
                      {{ form.errors | default_errors }}
                      <div class="grid--full">
                        <div class="grid__item one-whole form__row">
                          <label for="first_name">First Name</label>
                          <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="last_name">Last Name</label>
                          <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="email">Email Address</label>
                          <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="password">Password</label>
                          <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="birthday">Birthday</label>
                          <input type="text" value="" name="customer[note][Birthday]" id="birthday" class="large" size="30" {% if form.errors contains "birthday" %} class="error"{% endif %} />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="zip_code">Zip Code</label>
                          <input type="text" value="" name="customer[note][Zip Code]" id="zip_code" class="large" size="30" {% if form.errors contains "zip_code" %} class="error"{% endif %} />
                        </div>

                        <div class="form__row">
                          <input class="btn__generic" type="submit" value="Create Account" />
                        </div>
                      </div>
                    {% endform %}

                  </div>
              </div>
          </section>




    </div>
    <script>
      $(function() {
        $('.gallery').avgrund({
          width: 240, // max is 640px
          height: 400, // max is 350px
          showClose: true, // switch to 'true' for enabling close button
          showCloseText: 'Close', // type your text for close button
          closeByEscape: true, // enables closing popup by 'Esc'..
          closeByDocument: true, // ..and by clicking document itself
          holderClass: 'holder', //lets you name custom class for popin holder
          enableStackAnimation: false, // another animation type
          onBlurContainer: 'body', // enaables blur filter for specified block
          openOnEvent: false, // set to 'false' to init on load
          template: $('.content_for_popin'), // or function (elem) { }, or $('.content')
        });
      });
    </script>


    {% endif %}
  {% endif %}


</section>
