<section class="gallery{% if settings.use_footer %} hasfooter{% endif %}">

	<div class="gallery__slide collection__cover--img">
	  <div class="desk--table__contain pos_rel">
	    <div class="desk--table__inner align_middle">
	      <div class="collectioncover__text" style="margin-left:20px;">
	        <h2 class="single gold_text">OUR CLOSET</h2>
	        <h3>See what our #ClosetGirls are wearing out!</h3>
	        <h4><a href="mailto:info@theclosetservice.com" class="gold_text">Submit</a> photos from your rental</h4>
	        <div class="black_btn_container">
	          <a href ="/collections/new-arrivals" class="black_btn">Rent</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="gallery__slide">
	  {{ 'closet_girl_new1.jpg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'closet_girl_new2.jpg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'closet_girl_new3.jpg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'closet_girl_new4.jpg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'closet_girl_new5.jpg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'closet_girl_new6.jpg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_2_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_3_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_4_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_5_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_6_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_7_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_8_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_9_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_11_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_12_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_13_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_14_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
	<div class="gallery__slide">
	  {{ 'rental_fan_15_text.jpeg' | asset_url | img_tag: '', "slide__image" }}
	</div>
</section>