{% if page.title == "Home" %}
  <section class="gallery">
    <div class="gallery__inner">

      {{ page.content }}

    </div>
  </section>
{% else %}

  <section class="page">
    <div class="glam-headshot">
      {% if page.title == "Glam Packages" %}
        {{ 'glam-headshot.jpeg' | asset_url | img_tag: '', "slide__image" }}
      {% else %}
      {% endif %}
    </div>
      <div class="page__inner">

          <div class="page__text{% if settings.use_footer %} hasfooter{% endif %} rte">

    				{% if page.title == "Glam Packages" %}

    				{% comment %}
            <h1 class="text_center">{{ page.title }}</h1>
            {% endcomment %}
              {{ page.content }}

    				{% else %}
          	<h1 class="gold_text">{{ page.title }}</h1>
              {{ page.content }}
            {% endif %}


          </div>

      </div>
  </section>
{% endif %}
